// HÀM NÀY ĐỂ FORM TRÔNG ĐẸP HƠN
#login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  #login-form label, #login-form input, #login-form button {
    display: block;
    width: 80%;
    margin: 10px auto;
  }